@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-bg {
    background-image: radial-gradient(#474bff 1.5px, transparent 1.5px), radial-gradient(#474bff 1.5px, transparent 1.5px);
  background-size: 24px 24px;
  background-position: 0 0, 12px 12px;
  background-color: #ffffff;
  }

  .block-style-controls {
    display: flex;
    margin-bottom: 10px;
  }
  
  .block-style-button {
    background-color: transparent;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    margin-right: 5px;
    padding: 5px;
  }
  
  .block-style-button:hover {
    background-color: #f5f5f5;
  }
  
  .block-style-button.active {
    background-color: #e5e5e5;
    font-weight: bold;
  }